.upcoming-event {
    .opry-select-wrap {
        label {
            color: #fff;
        }
    }

    .upcoming-event__row {
        .upcoming-event__item {

            display: flex !important;
            flex-direction: row !important;

            .upcoming-event__date {
                background-size: contain;
            }
        }

    }

    .slick-arrow {

        &.slick-prev {
            left: 32% !important;

            svg {
                transform: rotate(180deg);

            }
        }

        &.slick-next,
        &.slick-prev {
            top: -29% !important;
            transform: translateY(-50%);
            display: flex;

            &::before {
                content: '';
            }
        }

        &.slick-next {
            right: 60% !important;
        }

        svg {
            fill: #937cb9;
        }
    }
}